TELEGRAM_BOT_TOKEN=
ADMIN_USER_ID=7112435274
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
REQUIRED_CHANNEL=@a11g9n
REQUIRED_CHANNEL_URL=https://t.me/a11g9n
MAX_FILE_SIZE_MB=49
DOWNLOAD_TIMEOUT_SECONDS=180
LOG_LEVEL=INFO
